<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCC JavaScript Calculator</title>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body ng-app="calculatorApp" ng-controller="calculatorController">
    <div class="container calculator-container">
        <div class="title-container text-center">
            <h3><b>FCC Calculator</b></h3>
        </div>
        <div class="screen-container text-right">
            <p>{{ current }}</p>
        </div>
        <div class="button-panel">
            <div class="button-row">
                <div class="span1">
                    <button class="clear-button" ng-click="clearAll()">AC</button>
                </div>
                <div class="span1">
                    <button class="clear-button" ng-click="clearLast()">DE</button>
                </div>
                <div class="span1">
                    <button type="radio" class="numeric-button" value="/" ng-click="getValue($event)">&divide;</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="*" ng-click="getValue($event)">&#10005;</button>
                </div>
            </div>
            <div class="button-row">
                <div class="span1">
                    <button class="numeric-button" value="7" ng-click="getValue($event)">7</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="8" ng-click="getValue($event)">8</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="9" ng-click="getValue($event)">9</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="-" ng-click="getValue($event)">&#x2212;</button>
                </div>
            </div>
            <div class="button-row">
                <div class="span1">
                    <button class="numeric-button" value="4" ng-click="getValue($event)">4</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="5" ng-click="getValue($event)">5</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="6" ng-click="getValue($event)">6</button>
                </div>
                <div class="span1">
                    <button class="numeric-button" value="+" ng-click="getValue($event)">&#x2b;</button>
                </div>
            </div>
            <div class="button-group">
                <div class="group-button-row">
                    <div class="span1">
                        <button class="numeric-button" value="1" ng-click="getValue($event)">1</button>
                    </div>
                    <div class="span1">
                        <button class="numeric-button" value="2" ng-click="getValue($event)">2</button>
                    </div>
                    <div class="span1">
                        <button class="numeric-button" value="3" ng-click="getValue($event)">3</button>
                    </div>
                </div>
                <div class="group-button-row">
                    <div class="span2">
                        <button class="numeric-button" value="0" ng-click="getValue($event)">0</button>
                    </div>
                    <div class="span1">
                        <button class="numeric-button" value="." ng-click="getValue($event)">.</button>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <div class="span1">
                    <button class="numeric-button double-column-button" ng-click="computeInput()">=</button>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="calc-footer">
    <p class="text-center">Designed & Coded by Xiumo Zhan</p>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>

<script src="app.js"></script>
<script src="js/calculatorController.js"></script>

</html>
